<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font/stylesheet.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="navbar">
          <div class="navbar-btns">
            <a href="/">Главная</a>
            <a href="/apartments">Апартаменты</a>
            <% if (!userId) { %>
            <a href="/auth/login">Вход</a>
            <a href="/auth/register">Регистрация</a>
            <% } else { %>
            <a href="/profile">Профиль</a>
            <a href="/auth/logout">Выход</a>
            <% } %>
          </div>
        </div>
        <div class="logo">Апартаменты от<br>Ярославская гостиница</div>
      </div>
    </header>

    <div class="container">
      <div class="catalog">
        <div class="container profile">
          <h1>Профиль</h1>
          <div class="profile-img">
            <img src="/img/Default_Profile.png" alt="Profile Picture">
          </div>
          <div class="profile-text">
            <p>Фамилия: <%= user.surname %></p>
            <p>Имя: <%= user.name %></p>
            <p>Отчество: <%= user.patronymic %></p>
            <p>Телефон: <%= user.telephone %></p>
            <p>Email: <%= user.email %></p>
            <p>Логин: <%= user.login %></p>
            <div class="btn">
              <a href="/profile/edit">Редактировать профиль</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
